div
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-collapse.collapse
                .ul.nav.navbar-nav
                    li
                        a(href="/preclassement") FQU - CQU4
                    li.dropdown
                        a.dropdown-toggle(href="", data-toggle="dropdown") Tournoi
                            b.caret
                        ul.dropdown-menu
                            li(ng-repeat="tournoi in tournaments")
                                a(ng-click="tournamentCtrl.selectTournamentById(tournoi.id)") {{tournoi.name}}
                    li
                        a(href="/preclassement") Préclassement
                    li
                        a(href="/parties") Parties
                    li
                        a(href="/horaire") Horaire
                    li
                        a(href="/resultats") Résultats
                
                        