doctype
html
    head
        title FQU - Gestion des résultats
        include stylesheets
        base(href="/")
    body(ng-app="app" ng-controller="tournamentController as tournamentCtrl")
        include header
        div(id="content")
            block main-content
        include footer
        include scripts