#content {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 83px;
}
#header li a {
  color: #fff;
}
#header li a:hover {
  color: #ffb;
}
.centered {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.navbar-default {
  background-color: #2c3e50;
}
.navbar-fixed-top {
  background-color: #2c3e50;
}
